* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

button {
  display: inline-block;
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem 1.7rem;
  background: #be1e2e;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover, button:focus {
  background: #ac1b2a;
}

button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid black;
  padding: 0.5rem 1rem;
}

form label {
  display: block;
  margin: 1rem 0 0.2rem 0;
}

form input,
form textarea,
form select {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.5rem;
  display: block;
  min-width: 200px;
}

.container {
  margin: 70px auto 0 auto;
  padding: 10px;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar {
  font-family: "Roboto Condensed", sans-serif;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #be1e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .brand {
  z-index: 2;
}

.navbar .brand img {
  position: relative;
  top: 0.2rem;
  height: 1.7rem;
  width: auto;
  margin-right: 0.5rem;
  background-color: white;
  border-radius: 50%;
}

.navbar .brand a {
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
  padding: 0.75rem;
}

.nav-links {
  width: 100%;
}

.nav-links ul {
  background-color: #be1e2e;
  position: absolute;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-transition-duration: 350ms;
          transition-duration: 350ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.nav-links ul.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav-links ul li a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  display: block;
  font-size: 1.2rem;
  text-align: center;
}

.nav-links ul li a:hover {
  background-color: #ac1b2a;
}

.social-link {
  height: auto;
  padding: 5px 0 0 0 !important;
  overflow: hidden;
}

.social-link img {
  height: 2rem;
}

.navbarTransparent {
  background-color: rgba(0, 0, 0, 0);
}

.navbarTransparent .brand a {
  color: black;
}

.nav-linksTransparent ul {
  background-color: rgba(0, 0, 0, 0);
}

.nav-linksTransparent ul li a {
  color: black;
}

.nav-linksTransparent ul li a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: gray;
}

.nav-toggle {
  z-index: 2;
  position: absolute;
  top: 0.9rem;
  right: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 29px;
  width: 36px;
  cursor: pointer;
}

.nav-toggle.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-toggle.active span:nth-child(2) {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  opacity: 0;
}

.nav-toggle.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-toggle span {
  -webkit-transition-duration: 350ms;
          transition-duration: 350ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: 1px;
          transform-origin: 1px;
  background-color: white;
  height: 4px;
  width: 100%;
  border-radius: 5px;
}

.backgroundHeader img {
  z-index: -1;
  height: 700px;
  width: auto;
  position: fixed;
  top: -150px;
  right: -100px;
}

.landingImg {
  width: 100%;
  height: auto;
  margin: 1.5rem auto;
  display: block;
}

.headerTitle {
  text-align: center;
  font-size: 2.2rem;
  padding-top: 1rem;
}

.footer {
  color: white;
  margin-top: 1rem;
  background-color: #be1e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer ul {
  list-style-type: none;
}

.footer ul li {
  padding: 0.2rem;
}

.footer ul li a {
  text-decoration: none;
  color: white;
}

.footer ul li a:hover {
  color: #b3b3b3;
}

.footer button {
  color: black;
  margin: 0.5rem 0;
  background-color: white;
}

.footer button:hover {
  background-color: #b3b3b3;
}

.footer div {
  width: auto;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subhead {
  width: 90%;
  margin: 0 auto;
  font-size: 1rem;
}

.thumbnailImg {
  max-height: 100px;
  max-width: 100px;
}

.confirmDelete {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.confirmDelete div {
  background-color: white;
  width: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3rem;
  text-align: center;
}

.confirmDelete div p {
  display: block;
  margin-bottom: 2rem;
}

.confirmDelete div span {
  margin: auto;
}

.confirmDelete div span button:nth-child(1) {
  margin-right: 2rem;
}

.confirmDelete.shown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon {
  cursor: pointer;
}

.formContainer {
  height: 0;
  opacity: 0;
  z-index: -100;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  visibility: hidden;
  -webkit-transition: 500ms ease-out;
  transition: 500ms ease-out;
  will-change: z-index, opacity, height, visibility;
  position: relative;
}

.formContainer.is-visible {
  z-index: 1;
  opacity: 1;
  height: 100%;
  -webkit-transform: none;
          transform: none;
  visibility: visible;
}

.updateLink {
  color: black;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.updateLink:hover {
  color: gray;
}

.controls {
  background-color: white;
  z-index: 2;
}

.controls button {
  font-size: 1rem;
  padding: 0.8rem 1rem;
  margin: 15px 0;
}

.controls button:nth-child(2) {
  margin-left: 1.5rem;
}

.pagination {
  display: inline-block;
  list-style: none;
}

.pagination li {
  display: inline-block;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border: 1px solid black;
  border-right: none;
  cursor: pointer;
}

.pagination li:hover {
  color: gray;
}

.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

.pagination li:last-child {
  border-right: 1px solid black;
  border-radius: 0 5px 5px 0;
}

.pagination .active {
  background-color: #be1e2e;
  color: white;
}

.pagination .active:hover {
  background-color: #ac1b2a;
}

.cardContainer {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.coachCard {
  position: relative;
  width: 510px;
  height: 300px;
  margin: 2rem 0;
}

.coachCard .blackDiv {
  position: absolute;
  left: 0;
  background-color: black;
  height: 100%;
  width: 50%;
}

.coachCard .redDiv {
  position: absolute;
  right: 0;
  background-color: #be1e2e;
  height: 100%;
  width: 50%;
}

.coachCard .coachName {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: white;
  z-index: 3;
}

.coachCard .coachName p {
  margin: 0.2rem 0;
}

.coachCard .coachClasses {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  z-index: 3;
}

.coachCard .coachClasses p {
  margin: 0;
}

.coachCard .coachImg img {
  height: 260px;
  width: 310px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 20px;
  right: 20px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .headerTitle {
    font-size: 3.6rem;
  }
  .subhead {
    font-size: 1.2rem;
    width: 80%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .headerTitle {
    font-size: 2.6rem;
  }
  .subhead {
    font-size: 1.5rem;
  }
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-toggle {
    display: none;
  }
  .social-link {
    height: 57px;
    padding: 0.8rem 0.8rem 0.5rem 0.8rem !important;
  }
  .nav-links {
    width: auto;
  }
  .nav-links ul {
    background-color: rgba(0, 0, 0, 0);
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .nav-links ul li a {
    padding: 1.1rem 1rem 1rem 1rem;
  }
  .footer {
    padding: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer div {
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .headerTitle {
    font-size: 3.1rem;
  }
}
/*# sourceMappingURL=index.css.map */