* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  padding-bottom: 657.6px;
  min-height: 100vh;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

button {
  display: inline-block;
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem 1.7rem;
  background: #be1e2e;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover, button:focus {
  background: #ac1b2a;
}

button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

button.success {
  background-color: #08a054;
}

button a {
  text-decoration: none;
  color: white;
}

table {
  margin-top: 1rem;
  border: 1px solid black;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid black;
  padding: 0.5rem 1rem;
}

form button {
  margin: 0.5rem 0.5rem 0 0;
}

form label {
  display: block;
  margin: 1rem 0 0.2rem 0;
}

form input,
form textarea,
form select {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.5rem;
  display: block;
  min-width: 200px;
}

.container, .homeContainer, .aboutContainer, .classContainer, .coachCardContainer, .scheduleContainer, .beltRankContainer {
  margin: 90px auto 0 auto;
  padding: 10px;
  width: 100%;
}

.homeContainer, .aboutContainer {
  margin: 0 auto;
}

.homeContainer hr, .aboutContainer hr {
  background-color: #b3b3b3;
  border: 1px solid #b3b3b3;
  border-radius: 1px;
}

.aboutContainer {
  margin: 90px auto 0 auto;
}

.aboutContainer > div:nth-child(1) {
  padding: 0 0 3rem 0;
}

.aboutContainer > div:nth-child(1) .infoContainer {
  width: 90%;
  margin: 0 auto 3rem auto;
}

.aboutContainer > div:nth-child(1) .infoContainer h1 {
  margin-bottom: 2rem;
}

.aboutContainer > div:nth-child(1) img {
  width: 90%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar {
  font-family: "Roboto Condensed", sans-serif;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #be1e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .brand {
  z-index: 2;
}

.navbar .brand img {
  position: relative;
  top: 0.2rem;
  height: 1.7rem;
  width: auto;
  margin-right: 0.5rem;
  background-color: white;
  border-radius: 50%;
}

.navbar .brand a {
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
  padding: 0.75rem;
}

.nav-links {
  width: 100%;
}

.nav-links ul {
  background-color: #be1e2e;
  position: absolute;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-transition-duration: 350ms;
          transition-duration: 350ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.nav-links ul.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav-links ul li a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  display: block;
  font-size: 1.2rem;
  text-align: center;
}

.nav-links ul li a:hover {
  background-color: #ac1b2a;
}

.social-link {
  height: auto;
  padding: 5px 0 0 0 !important;
  overflow: hidden;
}

.social-link img {
  height: 2rem;
}

.navbarTransparent {
  background-color: rgba(0, 0, 0, 0);
}

.navbarTransparent .brand a {
  color: black;
}

.nav-linksTransparent ul {
  background-color: rgba(0, 0, 0, 0);
}

.nav-linksTransparent ul li a {
  color: black;
}

.nav-linksTransparent ul li a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #be1e2e;
}

.nav-toggle {
  z-index: 2;
  position: absolute;
  top: 0.9rem;
  right: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 29px;
  width: 36px;
  cursor: pointer;
}

.nav-toggle.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-toggle.active span:nth-child(2) {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  opacity: 0;
}

.nav-toggle.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-toggle span {
  -webkit-transition-duration: 350ms;
          transition-duration: 350ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: 1px;
          transform-origin: 1px;
  background-color: white;
  height: 4px;
  width: 100%;
  border-radius: 5px;
}

.backgroundHeader img {
  z-index: -1;
  height: 700px;
  width: auto;
  position: fixed;
  top: -150px;
  right: -100px;
}

.headerTitle {
  text-align: center;
  font-size: 2.2rem;
  padding-top: 1rem;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  background-color: #be1e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer ul {
  list-style-type: none;
}

.footer ul li {
  padding: 0.2rem;
}

.footer ul li a {
  text-decoration: none;
  color: white;
}

.footer ul li a:hover {
  color: #b3b3b3;
}

.footer button {
  color: black;
  margin: 0.5rem 0;
  background-color: white;
}

.footer button:hover {
  background-color: #b3b3b3;
}

.footer div {
  width: auto;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.cardContainer a {
  display: inline-block;
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.cardContainer .card {
  margin: 1rem 0;
  width: 90%;
  background-color: #be1e2e;
  border-radius: 4px;
}

.cardContainer .card a {
  height: 100%;
  width: 100%;
}

.cardContainer .card h2 {
  margin: 0;
}

.cardContainer .card p {
  text-align: left;
  font-size: 1.1rem;
  margin: 1.1rem 0 1.5rem 0;
}

.cardContainer .card button {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
}

.cardContainer .card button:hover {
  background-color: white;
  color: black;
}

.subhead {
  width: 90%;
  margin: 2rem auto 3rem auto;
  font-size: 1rem;
}

.thumbnailImg {
  max-height: 100px;
  max-width: 100px;
}

.confirmDelete {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.confirmDelete div {
  background-color: white;
  width: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3rem;
  text-align: center;
}

.confirmDelete div p {
  display: block;
  margin-bottom: 2rem;
}

.confirmDelete div span {
  margin: auto;
}

.confirmDelete div span button:nth-child(1) {
  margin-right: 2rem;
}

.confirmDelete.shown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon {
  cursor: pointer;
}

.formContainer {
  height: 0;
  opacity: 0;
  z-index: -100;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  visibility: hidden;
  -webkit-transition: 500ms ease-out;
  transition: 500ms ease-out;
  will-change: z-index, opacity, height, visibility;
  position: relative;
}

.formContainer form {
  display: none;
}

.formContainer.is-visible {
  z-index: 1;
  opacity: 1;
  height: 100%;
  -webkit-transform: none;
          transform: none;
  visibility: visible;
}

.formContainer.is-visible form {
  display: block;
}

.updateLink {
  color: black;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.updateLink:hover {
  color: gray;
}

.controls {
  background-color: white;
  z-index: 2;
}

.controls button {
  font-size: 1rem;
  padding: 0.8rem 1rem;
  margin: 15px 0;
}

.controls button:nth-child(2) {
  margin-left: 1.5rem;
}

.pagination {
  display: inline-block;
  list-style: none;
}

.pagination li {
  display: inline-block;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border: 1px solid black;
  border-right: none;
  cursor: pointer;
}

.pagination li:hover {
  color: gray;
}

.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

.pagination li:last-child {
  border-right: 1px solid black;
  border-radius: 0 5px 5px 0;
}

.pagination .active {
  background-color: #be1e2e;
  color: white;
}

.pagination .active:hover {
  background-color: #ac1b2a;
}

.classContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.coachCardContainer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scheduleContainer, .beltRankContainer {
  margin: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90%;
      grid-template-columns: 90%;
  -ms-grid-rows: auto auto auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto auto;
  gap: 3rem 5%;
}

.scheduleContainer .beltHeader, .beltRankContainer .beltHeader {
  margin: 1rem auto;
  text-align: center;
}

.beltRankContainer {
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
}

.beltRankContainer img {
  width: 100%;
  height: auto;
}

.coachCard {
  position: relative;
  width: 382px;
  height: 225px;
  margin: 2rem 0;
}

.coachCard .blackDiv {
  position: absolute;
  left: 0;
  background-color: black;
  height: 100%;
  width: 50%;
}

.coachCard .redDiv {
  position: absolute;
  right: 0;
  background-color: #be1e2e;
  height: 100%;
  width: 50%;
}

.coachCard .coachName {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  padding-right: 10px;
  top: 15px;
  left: 15px;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: white;
  z-index: 3;
}

.coachCard .coachName p {
  margin: 0.2rem 0;
}

.coachCard .coachClasses {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  padding-right: 10px;
  bottom: 15px;
  left: 15px;
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  z-index: 3;
}

.coachCard .coachClasses p {
  margin: 0;
}

.coachCard .coachImg img {
  height: 195px;
  width: 232px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 15px;
  right: 15px;
}

.secondaryNav {
  margin: 1rem 0 1.5rem 0;
  background-color: #be1e2e;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
}

.secondaryNav li a {
  text-decoration: none;
  color: white;
  padding: 0.7rem 1rem;
  display: block;
  font-size: 1.2rem;
  text-align: center;
}

.secondaryNav li a.active {
  background-color: #ac1b2a;
}

.secondaryNav li a:hover {
  background-color: gray;
}

.secondaryNav li:nth-last-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.secondaryNav li:nth-last-child(1) a {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background-color: #cccccc;
  color: black;
  border-left: 4px solid white;
}

.secondaryNav li:nth-last-child(1) a:hover {
  background-color: #b3b3b3;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexContainer a:nth-child(2) {
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.flexContainer .space-between {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.flexContainer .space-between hr {
  width: 40%;
  height: 0;
  border: 2px solid black;
  background-color: black;
  border-radius: 2px;
  margin-top: 0.6rem;
}

.flexContainer .space-between p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
}

.flexContainer form {
  margin-bottom: 2rem;
  width: 300px;
}

.flexContainer form input,
.flexContainer form label,
.flexContainer form textarea {
  width: 100%;
}

.flexContainer .google-map {
  margin-bottom: 2rem;
}

.homeFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
}

.homeFlexContainer .mainContentParagraph {
  margin-top: 2rem;
  width: 340px;
  font-size: 1.1rem;
}

.homeFlexContainer .mainContentParagraph strong {
  color: #be1e2e;
}

.flexContainerVertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexContainerVertical a:nth-child(2) {
  margin: 1rem 0 0 0;
}

.fighterCard {
  width: 330px;
  text-align: center;
  margin: 2rem 0;
}

.fighterCard .fighterImg img {
  width: 100%;
  height: auto;
  margin-bottom: 0.8rem;
}

.fighterCard .fighterName {
  font-size: 1.2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.adminList {
  margin: 1rem 0;
}

.adminBeltList {
  margin: 1rem 0;
  text-align: center;
}

.adminListItem, .adminBeltItem, .adminScheduleItem, .fighterListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem 0;
}

.adminListItem p, .adminBeltItem p, .adminScheduleItem p, .fighterListItem p {
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.adminBeltItem {
  margin: 0.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adminScheduleItem {
  margin: 0.2rem 0;
}

.adminScheduleItem a {
  color: black;
  text-decoration: none;
}

.adminScheduleItem a:hover {
  color: #be1e2e;
}

.fighterListItem {
  margin: 0.5rem 0;
}

.fighterListItem p {
  font-size: 1rem;
}

.deleteIcon {
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: #be1e2e;
  border-radius: 50%;
  position: relative;
  top: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.deleteIcon div {
  position: relative;
  left: -6px;
  top: -0.5px;
}

.deleteIcon div span {
  background-color: white;
  height: 1.9px;
  width: 12px;
  position: absolute;
  border-radius: 1px;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.deleteIcon div span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.deleteIcon div span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.classItem {
  width: 340px;
  padding: 1rem;
}

.classItem p {
  margin: 1rem 0;
}

.hook {
  position: relative;
  top: -80px;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loadingBox {
  margin: 4rem 0;
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loadingBox .svg-inline--fa.fa-w-16 {
  height: 1.8rem;
  width: 1.8rem;
}

.loadingBox p {
  font-size: 2.2rem;
  margin-right: 1rem;
}

.spinner {
  height: 2.2rem;
  width: 2.2rem;
  -webkit-animation: spinner 1s linear infinite;
          animation: spinner 1s linear infinite;
}

.google-map {
  width: 100%;
  height: 300px;
}

.google-map h2 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.pin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.pin .icon {
  height: 40px;
  width: auto;
  color: #be1e2e;
}

.pin .pin-icon {
  position: relative;
  -webkit-transform: translateX(-50%) translateY(-100%);
          transform: translateX(-50%) translateY(-100%);
}

.videoPlayer {
  height: 197px;
  width: 350px;
  margin: 0 auto;
}

.landingImgContainer {
  height: 240px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 58.4px 0 3rem 0;
}

.landingImg {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
}

@-webkit-keyframes slide-in {
  0% {
    display: block;
    left: -100%;
    opacity: 0%;
  }
  70% {
    left: 5rem;
    opacity: 70%;
  }
  100% {
    left: 2rem;
  }
}

@keyframes slide-in {
  0% {
    display: block;
    left: -100%;
    opacity: 0%;
  }
  70% {
    left: 5rem;
    opacity: 70%;
  }
  100% {
    left: 2rem;
  }
}

.carouselContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), color-stop(40%, rgba(0, 0, 0, 0.4)));
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4) 40%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.carouselContainer .carouselItemInactive, .carouselContainer .carouselItemActive {
  position: absolute;
  color: white;
  display: none;
  left: 2rem;
  bottom: 3rem;
  width: 90vw;
  overflow: hidden;
}

.carouselContainer .carouselItemInactive h1, .carouselContainer .carouselItemActive h1 {
  font-size: 1.2rem;
}

.carouselContainer .carouselItemInactive p, .carouselContainer .carouselItemActive p {
  margin: 0.5rem 0 0.8rem 0;
  font-size: 1rem;
}

.carouselContainer .carouselItemInactive button, .carouselContainer .carouselItemActive button {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
}

.carouselContainer .carouselItemInactive button:hover, .carouselContainer .carouselItemActive button:hover {
  background-color: white;
}

.carouselContainer .carouselItemInactive button:hover a, .carouselContainer .carouselItemActive button:hover a {
  color: black;
}

.carouselContainer .carouselItemActive {
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  display: block;
}

.carouselContainer .pillBox {
  position: absolute;
  bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carouselContainer .pillBox .pill {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 0.7rem;
  cursor: pointer;
}

.carouselContainer .pillBox .pill:nth-child(1) {
  margin-left: 0;
}

.carouselContainer .pillBox .pill:nth-last-child(1) {
  margin-right: 0;
}

.carouselContainer .pillBox .activePill {
  background-color: white;
}

@media (min-width: 576px) {
  .container, .homeContainer, .aboutContainer, .classContainer, .coachCardContainer, .scheduleContainer, .beltRankContainer {
    width: 540px;
    padding: 0;
  }
  .classItem {
    width: 500px;
  }
  .videoPlayer {
    height: 304px;
    width: 540px;
  }
  .landingImgContainer {
    min-height: 200px;
    width: 100%;
    height: 100%;
  }
  .landingImg {
    height: auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  @-webkit-keyframes slide-in {
    0% {
      display: block;
      left: -100%;
      opacity: 0%;
    }
    70% {
      left: 8rem;
      opacity: 70%;
    }
    100% {
      left: 6rem;
    }
  }
  @keyframes slide-in {
    0% {
      display: block;
      left: -100%;
      opacity: 0%;
    }
    70% {
      left: 8rem;
      opacity: 70%;
    }
    100% {
      left: 6rem;
    }
  }
  .aboutContainer {
    margin: 90px auto 0 auto;
  }
  .aboutContainer > div:nth-child(1) .infoContainer {
    width: 70%;
    margin: 0;
    padding-right: 0;
    padding-bottom: 2rem;
  }
  .aboutContainer > div:nth-child(1) img {
    width: 30%;
    height: auto;
  }
  .carouselContainer .carouselItemInactive, .carouselContainer .carouselItemActive {
    left: 6rem;
    bottom: 10rem;
  }
  .carouselContainer .carouselItemInactive h1, .carouselContainer .carouselItemActive h1 {
    font-size: 2.4rem;
  }
  .carouselContainer .carouselItemInactive p, .carouselContainer .carouselItemActive p {
    margin: 0.6rem 0 1.4rem 0;
    font-size: 1.2rem;
  }
  .carouselContainer .carouselItemInactive button, .carouselContainer .carouselItemActive button {
    font-size: 1.2rem;
    padding: 0.8rem 1.7rem;
  }
  .carouselContainer .pillBox {
    bottom: 2rem;
  }
  .carouselContainer .pillBox .pill {
    height: 15px;
    width: 15px;
    margin: 0 1rem;
  }
  .coachCard {
    position: relative;
    width: 510px;
    height: 300px;
  }
  .coachCard .coachName {
    top: 20px;
    left: 20px;
  }
  .coachCard .coachClasses {
    bottom: 20px;
    left: 20px;
  }
  .coachCard .coachImg img {
    height: 260px;
    width: 310px;
    top: 20px;
    right: 20px;
  }
  .container, .homeContainer, .aboutContainer, .classContainer, .coachCardContainer, .scheduleContainer, .beltRankContainer {
    width: 720px;
  }
  .headerTitle {
    font-size: 3.6rem;
  }
  .subhead {
    font-size: 1.2rem;
    width: 80%;
  }
  .flexContainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .fighterCard {
    width: 347px;
  }
  .scheduleContainer, .beltRankContainer {
    margin: 3rem 0;
    -ms-grid-columns: 47% 47%;
        grid-template-columns: 47% 47%;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    gap: 3rem 6%;
  }
  .beltRankContainer {
    -ms-grid-columns: 46% 46%;
        grid-template-columns: 46% 46%;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    gap: 0 8%;
  }
  .google-map {
    width: 600px;
    height: 400px;
  }
  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .videoPlayer {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .aboutContainer > div:nth-child(1) .infoContainer {
    width: 75%;
    margin: 0;
    padding-bottom: 0;
    padding-right: 5rem;
  }
  .aboutContainer > div:nth-child(1) img {
    width: 25%;
    height: auto;
  }
  .carouselContainer .carouselItemInactive, .carouselContainer .carouselItemActive {
    left: 6rem;
    bottom: 10rem;
  }
  .carouselContainer .carouselItemInactive h1, .carouselContainer .carouselItemActive h1 {
    font-size: 2.8rem;
  }
  .carouselContainer .carouselItemInactive p, .carouselContainer .carouselItemActive p {
    font-size: 1.4rem;
  }
  .carouselContainer .carouselItemInactive button, .carouselContainer .carouselItemActive button {
    font-size: 1.4rem;
  }
  .landingImgContainer {
    margin: 0 0 5rem 0;
  }
  body {
    padding-bottom: 312px;
  }
  .container, .homeContainer, .aboutContainer, .classContainer, .coachCardContainer, .scheduleContainer, .beltRankContainer {
    width: 960px;
  }
  .headerTitle {
    font-size: 2.6rem;
  }
  .subhead {
    font-size: 1.5rem;
    margin: 2rem auto 5rem auto;
  }
  .classItem {
    width: 450px;
  }
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-toggle {
    display: none;
  }
  .social-link {
    height: 57px;
    padding: 0.8rem 0.8rem 0.5rem 0.8rem !important;
  }
  .nav-links {
    width: auto;
  }
  .nav-links ul {
    background-color: rgba(0, 0, 0, 0);
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .nav-links ul li a {
    padding: 1.1rem 1rem 1rem 1rem;
  }
  .classContainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer {
    padding: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer div {
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer button {
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
  }
  .footer button:hover {
    background-color: white;
    color: black;
  }
  .fighterCard {
    width: 467px;
  }
  .beltRankContainer {
    -ms-grid-columns: 30% 30% 30%;
        grid-template-columns: 30% 30% 30%;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    gap: 0 5%;
  }
  .homeFlexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5rem 0;
  }
  .homeFlexContainer .mainContentParagraph {
    margin-top: 0;
    margin-left: 2rem;
  }
  .cardContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5rem 0;
  }
  .cardContainer .card {
    width: 300px;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .carouselContainer .carouselItemInactive, .carouselContainer .carouselItemActive {
    left: 6rem;
    bottom: 10rem;
  }
  .carouselContainer .carouselItemInactive h1, .carouselContainer .carouselItemActive h1 {
    font-size: 3.2rem;
  }
  .carouselContainer .carouselItemInactive p, .carouselContainer .carouselItemActive p {
    font-size: 1.4rem;
  }
  .carouselContainer .carouselItemInactive button, .carouselContainer .carouselItemActive button {
    font-size: 1.4rem;
  }
  .cardContainer .card {
    width: 350px;
  }
  .homeFlexContainer .mainContentParagraph {
    margin-left: 5rem;
  }
  .coachCardContainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .scheduleContainer, .beltRankContainer {
    -ms-grid-columns: 30% 30% 30%;
        grid-template-columns: 30% 30% 30%;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    gap: 3rem 5%;
  }
  .beltRankContainer {
    -ms-grid-columns: 22% 22% 22% 22%;
        grid-template-columns: 22% 22% 22% 22%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 0 4%;
  }
  .classItem {
    width: 500px;
  }
  .container, .homeContainer, .aboutContainer, .classContainer, .coachCardContainer, .scheduleContainer, .beltRankContainer {
    width: 1140px;
  }
  .headerTitle {
    font-size: 3.1rem;
  }
  .fighterCard {
    width: 330px;
  }
}
/*# sourceMappingURL=index.css.map */